{% extends 'template.html.twig' %}

{% block title %}Fornisseur index{% endblock %}

{% block body %}
    <h1>Fornisseur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Fornisseur in Fornisseurs %}
            <tr>
                <td>{{ Fornisseur.id }}</td>
                <td>{{ Fornisseur.nom }}</td>
                <td>{{ Fornisseur.tel }}</td>
                <td>
                    <a href="{{ path('Fornisseur_show', {'id': Fornisseur.id}) }}">show</a>
                    <a href="{{ path('Fornisseur_edit', {'id': Fornisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Fornisseur_new') }}">Create new</a>
{% endblock %}
