{% extends 'template.html.twig' %}

{% block title %}Fornisseur{% endblock %}

{% block body %}
    <h1>Fornisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Fornisseur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ Fornisseur.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ Fornisseur.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Fornisseur_index') }}">back to list</a>

    <a href="{{ path('Fornisseur_edit', {'id': Fornisseur.id}) }}">edit</a>

    {{ include('Fornisseur/_delete_form.html.twig') }}
{% endblock %}
