{% extends 'template.html.twig' %}

{% block title %}Classification{% endblock %}

{% block body %}
    <h1>Classification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classification.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ classification.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classification_index') }}">back to list</a>

    <a href="{{ path('classification_edit', {'id': classification.id}) }}">edit</a>

    {{ include('classification/_delete_form.html.twig') }}
{% endblock %}
