{% extends 'template.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mat</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Commande in Commandes %}
            <tr>
                <td>{{ Commande.id }}</td>
                <td>{{ Commande.mat }}</td>
                <td>{{ Commande.date ? Commande.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('Commande_show', {'id': Commande.id}) }}">show</a>
                    <a href="{{ path('Commande_edit', {'id': Commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('Commande_new') }}">Create new</a>
{% endblock %}
