{% extends 'template.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Commande.id }}</td>
            </tr>
            <tr>
                <th>Mat</th>
                <td>{{ Commande.mat }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ Commande.date ? Commande.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Commande_index') }}">back to list</a>

    <a href="{{ path('Commande_edit', {'id': Commande.id}) }}">edit</a>

    {{ include('Commande/_delete_form.html.twig') }}
{% endblock %}
