{% extends 'template.html.twig' %}

{% block title %}Medicaments{% endblock %}

{% block body %}
    <h1>Medicaments</h1>

    <table class="table table-condensed">
        <tbody>
 
            <tr>
                <th>Prix achat</th>
                <td>{{ medicament.pa }}</td>
            </tr>
            <tr>
                <th>Prix vente</th>
                <td>{{ medicament.pv }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ medicament.qte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('Medicaments_index') }}">Retour au list</a>

    <a href="{{ path('Medicaments_edit', {'id': medicament.id}) }}">Modifier</a>

    {{ include('Medicaments/_delete_form.html.twig') }}
{% endblock %}
