{% extends 'template.html.twig' %}

{% block title %}Pharmacie{% endblock %}

{% block body %}
    <h1>Pharmacie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pharmacie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pharmacie.nom }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ pharmacie.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ pharmacie.mdp }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pharmacie_index') }}">back to list</a>

    <a href="{{ path('pharmacie_edit', {'id': pharmacie.id}) }}">edit</a>

    {{ include('pharmacie/_delete_form.html.twig') }}
{% endblock %}
